.root {
	/* Color definitions */
	color-primary: #ff9800;
	
	/* Global styles */
	-fx-background: #e0e0e0;
	-fx-default-button: color-primary;
	-fx-focus-color: color-primary;
	-fx-faint-focus-color: #ff980022; /* color-primary with low alpha */
}

.container-main {
	-fx-pref-width: 1024.0px;
	-fx-pref-height: 576.0px;
}

.container-sub {
	-fx-pref-width: 1024.0px;
	-fx-pref-height: 514.0px;
}

.menu-bar {
	-fx-background-color: color-primary;
	-fx-font-size: 14.0px;
}

.target {
	-fx-background-color: #bdbdbd;
	-fx-padding: 8.0px 16.0px;
}

.card {
	-fx-background-color: #ffffff;
	-fx-effect: dropshadow(two-pass-box , rgba(0.0, 0.0, 0.0, 0.2), 5.0, 0.1 , 0.0, 0.0);
}

.card > .card-heading {
	-fx-padding: 8.0px 0.0px 0.0px 8.0px;
}

.card > .text-area {
	-fx-padding: 8.0px;
	-fx-border-insets: 8.0px;
	-fx-background-insets: 8.0px;
}

.card > .tree-view {
	-fx-padding: 8.0px;
	-fx-border-insets: 8.0px;
	-fx-background-insets: 8.0px;
}

.footer {
	-fx-background-color: #bdbdbd;
	-fx-padding: 4.0px 16.0px;
}

.text-field-error {
	-fx-control-inner-background: #ffebee;
	-fx-text-box-border: red ;
	-fx-focus-color: red ;
}

.tree-cell {
	-fx-indent: 40.0;
}

.tree-cell > .tree-disclosure-node {
	-fx-padding: 8.0px;
}

.notification {
	-fx-background-color: #ffffff;
	-fx-border-width: 2.0px 0.0px 0.0px 0.0px;
}

.notification-info {
	-fx-border-color:  #2196f3; 
}

.notification-success {
	-fx-border-color: #4caf50; 
}

.notification-error {
	-fx-border-color: #f44336; 
}
